/*
--svgcolor svg图标的颜色
--main-bg-color主页背景
--main-text-color文本颜色
--gradient标题渐变颜色

--purple-text-color描述紫色文本颜色
--text-bg-color描述紫色文本背景颜色
--item-bg-color项目背景颜色
--item-hover-color项目鼠标移入颜色
--item-left-title-color项目标题颜色
--item-left-text-color项目描述颜色
--footer-text-color底部文本颜色
--left-tag-item左侧标签颜色
--card-filter卡片模糊的数值
--back-filter背景模糊的数值
--back-filter-color全局阴影遮罩

*/
/*卡片模糊的数值非常吃性能,背景模糊的数值可以模糊也可以不模糊

0为不模糊,数值越大模糊程度越高

这两个任选其一进行模糊

一个有数字另一个建议为0
*/









html {
    /*图片模糊背景＋黑色透明卡片+白色svg**/
    --name: 主题5;
    --main_bg_color: url(https://vip.123pan.cn/1843643731/yk6baz03t0m000d7w33ga8uys9oo9uw0DIYxDwQxDwUwDGxPBIevBF==.jpg);
    --main_text_color: #eeeeee;
    --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
    --purple_text_color: #747bff;
    --text_bg_color: #00000040;
    --item_bg_color: #00000038;
    --item_hover_color: #33333338;
    --item_left_title_color: #ffffff;
    --item_left_text_color: #ffffff;
    --footer_text_color: #ffffff;
    --left_tag_item: rgb(27 42 57 / 20%);
    --card_filter: 0px;
    --back_filter: 20px;
    --back_filter_color: #00000030;
    --fill:#ffffff;
}
